@use "../global" as *;

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-family--breadcrumbs;
  font-size: $font-size--breadcrumbs;
  font-weight: $font-weight--breadcrumbs;
  line-height: $line-height--breadcrumbs;
}

.breadcrumbs__item {
  & .breadcrumbs__link {
    color: $color-bg--text;
  }

  &:not(:last-child) {
    &::after {
      content: "/";
      margin: 0 8px;
    }

    & .breadcrumbs__link {
      color: $color--text-breadcrumbs;
    }
  }
}
