$color-main: #f5f6f9;
$color-main--text: #0d1d35;

$color-secondary: #0354dd;
$color-secondary--text: #0354dd;
$color-secondary--btn: #ffffff;

$color-bg: #1a1a1a;
$color-bg--text: #ffffff;

$color-bg--item: #ffffff;

$color--text-breadcrumbs: #d8d8d8;

$color-fail: #ff0004;
