@use "../functions/values/rem" as *;

$font-size--root: 16px;

$font-family: "Inter", Arial, sans-serif;
$font-size: rem($font-size--root);
$line-height: 1.48;

$font-family--h1: "Inter", Arial, sans-serif;
$font-size--h1: rem(36px);
$line-height--h1: 1;
$font-weight--h1: 700;

$font-family--h2: "Segoe UI", Arial, sans-serif;
$font-size--h2: rem(24px);
$line-height--h2: 1.2;
$font-weight--h2: 700;

$font-family--breadcrumbs: "Inter", Arial, sans-serif;
$font-size--breadcrumbs: rem(14px);
$line-height--breadcrumbs: 1.4;
$font-weight--breadcrumbs: 500;

$font-family--btn: "Inter", Arial, sans-serif;
$font-size--btn: rem(20px);
$line-height--btn: 1.48;
$font-weight--btn: 700;
