<section class="section">
  <div class="section__container">
    <h1 class="section__title">По результатам проверки вы узнаете</h1>
    <ul class="info">
      @@include('./_info-item.html', {
      "title": "Вид вашей подписи",
      "text": "Различаются неквалифицированная и квалифицированная электронная подпись",
      "icon": "pencil"
      })
      @@include('./_info-item.html', {
      "title": "Данные о компании",
      "text": "Сведения о владельце сертификата, адрес и организационно-правовую форму юридического лица, ИНН и др.",
      "icon": "data"
      })
      @@include('./_info-item.html', {
      "title": "Срок действия ЭП",
      "text": "Даты начала и окончания срока действия сертификата электронной подписи",
      "icon": "gear"
      })
    </ul>
  </div>
</section>
