@use "../global" as *;

.hidden {
  display: none;
}

.fullscreen {
  min-height: 100lvh;
}

.no-scroll {
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.pre-wrap {
  white-space: pre-wrap;
}

.bg {
  background-color: $color-bg;
}
